.statement {
    background: #000;
    margin: 30px auto 20px auto;
    width: 650px;
    color: #fff;
    font-size: 19px;
    padding: 10px 40px;
}
.tests {
    margin: 0 auto 50px auto;
    width: 730px;
    color: #fff;

}

.tests .test {
    padding: 10px 15px;
    margin: 5px 0;
    float: left;
    width: 300px;
    background: #000;
    color: #fff;
    font-size: 17px;

    box-shadow: #444 0 0 6px;

    cursor: pointer;
}
.tests .test:hover {
    box-shadow: #994 0 0 7px;
}

.tests .test.selected {
    background: #b92;
}
.tests .test.true {
    background: #6a4;
}
.tests .test.false {
    background: #c10;
}

.tests .test:nth-child(even) {
    margin-left: 68px;
}

#numberQ, #wordQ {
    display: none;
}
.inputAnsw {
    margin: 0 auto 50px auto;
    width: 650px;
    background: #000;
    padding: 20px 40px;
}
.inputAnsw input {
    height: 35px;
    font-size: 24px;
    font-weight: bold;
    color: #222;
    width: 600px;
    padding: 0 10px;
}
.inputAnsw .selected {
    color: #dd0;
}
.inputAnsw .true {
    color: #6a4;
}
.inputAnsw .false {
    color: #c10;
}




#city {
    position: absolute;
    top: 160px;
    right: 60px;
    z-index: 100;
    width: 10%;
    background: rgba(52, 27, 43, 0.8);
    color: #fff;
    font-size: 16px;
}
#city #city_name {
    text-align: center;
    margin: 20px 0 15px 0;
    font-size: 28px;
    color: #ffb;
}
#city #city_population {
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 18px;
    color: #ffe;
}
#city #points {
    width: 70%;
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
    color: #ccc;
    text-align: center;
}
#city #plus {
    width: 65%;
    margin: 20px auto;
    font-size: 25px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
}




/*-------------------- TIMER ---------------------*/
#my_timer{
    position: absolute;
    color: #14161A;
    font-size: 75px;
    font-weight: bold;
    margin-left: 12px;
    padding-top: 5px;
}
#slider{
    position: absolute;
    color: #14161A;
    font-size: 400%;
    font-weight: bold;
    top:10px;
}

#bg1{
    position: absolute;
    background-color: #4980CB;
    width:100px;
    height:100px;
    margin: 30px 0px 0px 50px;
}
#bg2{
    //position: absolute;
    background-color: #FFA900;
    width:100px;
    height:0%;
}
/*-------------------- END OF TIMER ---------------------*/