#statement {
    background: #000;
    margin: 30px auto 20px auto;
    width: 650px;
    color: #fff;
    font-size: 19px;
    padding: 10px 40px;
}
#tests {
    margin: 0 auto 50px auto;
    width: 730px;
    color: #fff;

}

#tests .test {
    padding: 10px 15px;
    margin: 5px 0;
    float: left;
    width: 300px;
    background: #000;
    color: #fff;
    font-size: 17px;
}
#tests .test:nth-child(even) {
    margin-left: 68px;
}
#my_timer{
    position: absolute;
    color: #14161A;
    font-size: 75px;
    font-weight: bold;
    margin-left: 12px;
    padding-top: 5px;
}
#slider{
    position: absolute;
    color: #14161A;
    font-size: 400%;
    font-weight: bold;
    top:10px;
}

#bg1{
    position: absolute;
    background-color: #4980CB;
    width:100px;
    height:100px;
    margin: 30px 0px 0px 50px;
}
#bg2{
    position: absolute;
    background-color: #FFA900;
    width:100px;
    height:0px;
    margin: 30px 0px 0px 50px;
}