#statement {
    background: #000;
    margin: 30px auto 20px auto;
    width: 650px;
    color: #fff;
    font-size: 19px;
    padding: 10px 40px;
}
#tests {
    margin: 0 auto 50px auto;
    width: 730px;
    color: #fff;

}

#tests .test {
    padding: 10px 15px;
    margin: 5px 0;
    float: left;
    width: 300px;
    background: #000;
    color: #fff;
    font-size: 17px;

    box-shadow: #444 0 0 6px;

    cursor: pointer;
}
#tests .test:hover {
    box-shadow: #994 0 0 7px;
}

#tests .test.selected {
    background: #b92;
}
#tests .test.true {
    background: #6a4;
}
#tests .test.false {
    background: #c10;
}

#tests .test:nth-child(even) {
    margin-left: 68px;
}
#my_timer{
    position: absolute;
    color: #14161A;
    font-size: 75px;
    font-weight: bold;
    margin-left: 12px;
    padding-top: 20px;
}
#slider{
    position: absolute;
    color: #14161A;
    font-size: 400%;
    font-weight: bold;
    top:10px;
}

#bg1{
    position: absolute;
    background-color:    #4980CB;
    width:100px;
    height:150px;
    margin: 30px 0px 0px 50px;
}
#bg2{
    position: absolute;
    background-color:    #FFA900;
    width:100px;
    height:0px;
    margin: 30px 0px 0px 50px;
}