* {
    margin: 0;
    padding: 0;
}


#map_canvas {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 10;
}



#top_login {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 100;
    width: 60%;
    height: 55px;
    background: rgba(52, 27, 43, 0.9);
    color: #fff;
    font-size: 16px;
    text-align: right;
}

#top_login input[type=text] {
    width: 22%;
    height: 30px;
    margin: 10px 0 0 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #666;
    border: 0;
}
#top_login input[type=submit] {
    width: 18%;
    height: 30px;
    margin: 10px 20px 0 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background: #83d3c9;
    border: 0;
}

#container {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 100;
    width: 60%;
    background: rgba(52, 27, 43, 0.8);
    color: #fff;
    font-size: 16px;
}
#container h1 {
    text-transform: uppercase;
    text-align: center;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
    margin: 18px auto 20px auto;
    width: 300px;
    letter-spacing: 5px;
    font-size: 36px;
}

#container ul {
    margin: 20px auto 40px auto;
    width: 90%;
    list-style: none;

}
#container ul li {
    background: #23a2d4;
    padding: 20px 20px;
    margin: 70px 0;
    color: #fff;
    font-size: 36px;
    text-align: center;
    display: none;
}
#container ul li:first-child {
    display: block;
}

#container p {
    text-align: center;
    font-size: 14px;
}

#container .city {
    text-align: center;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#container .try{
    margin: 0;
    font-size: 20px;
}

#container .try_btn {
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin: 15px auto 50px auto;
    background: #fd4b46;
    padding: 7px 15px;
    width: 300px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#container .more {
    font-size: 16px;
    font-weight: bold;
    float: right;
    display: block;
    color: #83d3c9;
}