* {
    margin: 0;
    padding: 0;
}


#slideshow {
    width:100%;
    overflow:hidden;
}
#slideshow div{
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
    overflow: hidden;
}
#slideshow div:first-child {
    display: block;
}
#slideshow div img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#registration {
    position: absolute;
    z-index: 100;
    margin: 5% 15% 0 15%;
    padding-top: 10%;
    width: 70%;
    height: 60%;
    background: rgba(52, 27, 43, 0.9);
    color: #fff;
    font-size: 16px;
    text-align: center;
}

#registration input[type=text],#registration input[type=password] {
    width: 30%;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    color: #666;
    display: block;
    border: 0;
}
#registration input[type=submit], #registration input[type=label]{
    width: 18%;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background: #83d3c9;
    display: block;
    border: 0;
}

#error_message{
    position: absolute;
    left:35%;
    margin: 0 auto;
    color: red;
    font-size: 22px;
    text-align: center;
}

#top_welcome {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 100;
    width: 60%;
    height: 75px;
    background: rgba(52, 27, 43, 0.9);
    color: #fff;
    font-size: 16px;
}

#exit{
    position: absolute;
    float: right;
    right: 0px;
    display: block;
    color: #fff;
    font-size: 24px;
}

#exit a{
    text-decoration: none;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    width: 48%;
    height: 25px;
    margin: 20px 20px 0 10px;
    padding: 0 10px;
    padding-top: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background: #83d3c9;
    border: 0;
    float: right;
}

#login{
    position: absolute;
    left: 10px;
    top: 20px;
    display: block;
    color: #fff;
    font-size: 24px;
    float: left;
}

#top_login {
     position: absolute;
     top: 0;
     left: 20%;
     z-index: 100;
     width: 60%;
     height: 75px;
     background: rgba(52, 27, 43, 0.9);
     color: #fff;
     font-size: 16px;
     text-align: right;
 }

#top_login input[type=text], #top_login input[type=password] {
    width: 22%;
    height: 30px;
    margin: 10px 0 0 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #666;
    border: 0;
}
#top_login input[type=submit] {
    width: 18%;
    height: 30px;
    margin: 10px 20px 0 10px;
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background: #83d3c9;
    border: 0;
}

#go_game {
    position: absolute;
    margin: 0 auto;
    left: 32%;
    top: 70%;
    z-index: 100;
    color: #fff;
    font-size: 16px;
}

#container {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 100;
    width: 60%;
    height: 70%;
    background: rgba(52, 27, 43, 0.8);
    color: #fff;
    font-size: 16px;
}

#container h1 {
    text-transform: uppercase;
    text-align: center;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
    margin: 18px auto 20px auto;
    width: 300px;
    letter-spacing: 5px;
    font-size: 36px;
}

#container ul {
    margin: 20px auto 40px auto;
    width: 90%;
    list-style: none;

}
#container ul li {
    background: #23a2d4;
    padding: 20px 20px;
    margin: 70px 0;
    color: #fff;
    font-size: 36px;
    text-align: center;
    display: none;
}
#container ul li:first-child {
    display: block;
}

#container p {
    text-align: center;
    font-size: 14px;
}

#container .city {
    text-align: center;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#container .try{
    margin: 0;
    font-size: 20px;
}

#container .try_btn {
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin: 15px auto 50px auto;
    background: #fd4b46;
    width: 300px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#my_cities {
    position: absolute;
    margin: 0 auto;
    z-index: 100;
    color: #fff;
    font-size: 16px;
}

table.ceny {
    border: 1px solid #ECEDEE; /* общая рамка вокруг таблицы */
    border-color: #fcf4f9;
    margin: 45px 0 0 50px; /* отступ сверху и снизу от таблицы 10px, слева и справа 0 */
    width: 100%; /* ширина таблицы */
    border-collapse: collapse;
}
table.ceny tr:nth-child(even) {
    background: #665b5b; /* цвет фона строки */
}
/* параметры только для первой ячейки в каждой из строк */
table.ceny tr:nth-child(odd) {
    background: #301b28;
}
table.ceny td {
    border-bottom: 1px solid #ECEDEE; /* рамка снизу ячейки */
    border-right: 1px solid #ECEDEE; /* рамка справа ячейки */
    border-color: #fcf4f9;
    font-size: 16px; /* размер шрифта */
    font-weight: bold;
    padding: 4px; /* внутренний отступ в ячейки от края */
    vertical-align: middle; /* горизонтальное выравнивание */
    text-align: center; /* текст по центру */
    width: 200px;
}
#my_cities h1 {
    position: absolute;
    text-transform: none;
    text-align: left;
    left: 60px;
    border-top: none;
    border-bottom: none;
    width: 300px;
    letter-spacing: 5px;
    font-size: 36px;
}


#reg_btn{
    text-decoration: none;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    width: 18%;
    height: 25px;
    margin: 10px 20px 0 10px;
    padding: 0 10px;
    padding-top: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background: #83d3c9;
    border: 0;
    float: right;
}
#container .more {
    font-size: 16px;
    font-weight: bold;
    float: right;
    display: block;
    color: #83d3c9;
}

.clear {
    clear: both;
}
#avatar {
    background: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 40px;
    top:20px;
    height: 200px;
    width: 200px;
    float: right;
    margin: 3px 0 5px 0;
}