* {
	margin: 0;
	padding: 0;
}


#map_canvas {
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 10;
}

#container {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 70%;
	height: 100%;
	background: url('../img/white_fon.png');
}